<!--<form method="POST">{% csrf_token%}-->
<!--    To:<input name="to_email" value="{{form.to_email.value|default:''}}">{{form.to_email.errors}}<br>-->
<!--    Subject:<input name="subject" value="{{form.subject.value|default:''}}">{{form.subject.errors}}<br>-->
<!--    content:<textarea name="content" rows="5" cols="20">{{form.content.value|default:''}}"</textarea>-->
<!--    <button type="submit">Send</button>-->
<!--</form>-->
<!--{{form}}-->
<!--<form method="POST" novalidate> {%csrf_token%}-->
<!--    {{form.as_p}}-->
<!--    <button type="submit">send</button>-->
<!--</form>-->